    <div class="container-fluid main_body">   
        <div class=" ">
            <div class= "container">
                <h4>Add A New Post</h4>
                <form class='d-flex flex-column  justify-content-end' method="POST" action="/api/topics/updateTopic/{{editTopic.id}}?_method=PUT">
                    <div class="form-group ">
                        <input type="hidden" name="_method" value="PUT">
                        <label for="">Post Category:</label>
                        <span id="errorMsg2"></span>
                        <select class="form-control" name="category" id="categoryUpdate" style="margin-bottom:20px;">
                            <option value="{{editTopic.category}}">{{editTopic.category}}</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label for="">Post Subject:</label>
                        <span id="errorMsg2"></span>
                        <input id="subjectUpdate" class="form-control" value='{{editTopic.subject}}' name="subjectUpdate" type="text" style="margin-bottom:20px;">
                    </div>
                    <div class="form-group ">
                        <label for="">Post Text:</label>
                        <span id="errorMsg2"></span>
                        <textarea id="topicbodyUpdate" class="form-control"  name="topicbodyUpdate"  rows="10" cols="50" style="margin-bottom:20px;">{{editTopic.body}}</textarea> 
                    </div>
                    <div class="form-group">
                        <input type="submit" id="updatePost" value="Update Post" class="form-control btn btn-primary" name="updatePost" style="">
                    </div>
                </form>
            </div>    
        </div>
    </div>

    <br>


   